@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('https://skillactive.ru/fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('https://skillactive.ru/fonts/Gilroy-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('https://skillactive.ru/fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: url('https://skillactive.ru/fonts/Gilroy-Extrabold.woff') format('woff');
}


@font-face {
    font-family: 'TTTravels';
    font-style: normal;
    font-weight: 500;
    src: url('https://skillactive.ru/fonts/TTTravels-Medium.woff') format('woff');
}
@font-face {
    font-family: 'TTTravels';
    font-style: normal;
    font-weight: 700;
    src: url('https://skillactive.ru/fonts/TTTravels-Bold.woff') format('woff');
}
@font-face {
    font-family: 'TTTravels';
    font-style: normal;
    font-weight: 600;
    src: url('https://skillactive.ru/fonts/TTTravels-DemiBold.woff') format('woff');
}

