.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid #E1E1E1;
	border-radius: 2px;
	margin-right: 10px;
}

.custom-checkbox:checked+label::before {
	background: url('/input_checkbox_checked_bg.svg');
	border: none;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
